.challenges {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
}

.challenge {
  text-align: center;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 18rem;
  cursor: pointer;
  transition: all 0.25s ease-out;
  text-decoration: none;
  color: white;
  

  &:hover {
    transform: scale(1.05);
    box-shadow: rgba(182, 16, 16, 0.35) 0px 8px 18px;
    border: 2px solid var(--red-0);
  }

  &__title {
    margin-bottom: 0.5rem;
    font-size: var(--font-lg);

    span {
      font-size: var(--font-sm);
      font-style: italic;
      font-weight: 400;
    }
  }

  &__difficulty {
    margin: 0 0 0.5rem;

    &--beginner { color: var(--beginner) }
    &--easy { color: var(--easy) }
    &--medium { color: var(--medium) }
    &--hard { color: var(--hard) }
  }

  &__cover-img {
    max-width: 20rem;
  }

  &__desc {
    margin-top: 0.3rem;
    font-size: var(--font-md);
  }
}
