:root {
  --bg-0: var(--grey-dark-0);
  --easy: var(--green-light-0);
  --medium: var(--orange-0);
  --hard: var(--purple-light-0);

  --grey-dark-0: #1a1a1a;
  --red-0: #722b2b;
  --red-1: #aa3333;
  --green-light-0: #43b17f;
  --orange-0: #d68914;
  --purple-light-0: #9e5aec;
}
